# Example environment variables for KickStream Frontend (React + Vite)
VITE_API_URL=https://kick-stream-production.up.railway.app/
VITE_ABLY_KEY="DhUsrQ.uCH52g:FMJRRse_UyOAyw2QhB2PNU4jonJnKCsTnb8r3sRrolw"
VITE_SOCKET_URL=https://kick-stream-production.up.railway.app/
